.div1 {
    border: 2px solid #4CAF50; /* Agrega un borde sólido de 2px y color verde */
  }

.div2 {
    border: 2px solid #4CAF50; /* Agrega un borde sólido de 2px y color verde */
  }

h1{
    color: brown;
}