*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: black;
}

.App{
  height: 750px;
  display: grid;
  font-family: Lato, sans-serif;
  color: white;
  border: 1px solid white;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 10px;
}


h1{
  color: white;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

#Interno1, #Interno2, #Interno3,#Interno4,#Interno5,#Interno6{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: Lato, sans-serif;
  color: white;
  border: 1px solid white
}


